<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.v7lin.wechat_kit">

    <application>
        <activity
            android:name=".WechatCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@style/wechat_kit.Theme.Transparent" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".WechatCallbackActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@style/wechat_kit.Theme.Transparent" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".WechatCallbackActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@style/wechat_kit.Theme.Transparent" />

        <provider
            android:name=".WechatFileProvider"
            android:authorities="${applicationId}.wechat_kit.WechatFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wechat_kit_file_paths" />
        </provider>
    </application>
</manifest>
