<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.v7lin.fakewechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".WechatCallbackActivity"
            android:theme="@style/fake_wechat.Theme.Transparent"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:theme="@style/fake_wechat.Theme.Transparent"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:targetActivity=".WechatCallbackActivity" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:theme="@style/fake_wechat.Theme.Transparent"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:targetActivity=".WechatCallbackActivity" />
    </application>
</manifest>
